body {
    color: blue;
    background:black;
    margin:0px;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    margin-bottom: 100px;
  }


 header{
    border-bottom: solid 2px green;
    padding: 25px;
    font-size: 30px;
    color: blue;

 }
        .chamada {
            background:yellowgreen;
            padding-bottom: 80px;
            padding-top: 80px;
            display: flex;
            justify-content:center;
        }
        div {
            margin-right:20px;
        }
     .chamada-texto {
        margin: 5%;
     }
     h1{
        font-size: 40;
     }
     p{
        font-size: 30px;
     }
     img{
        height:200px;
     }
     .categoria-videos{
        display: flex;
        overflow-x:auto;
        gap:10px;
     }
    
     .categoria{
        padding-left:20px;
        padding-right:20px;
        margin-top: 50px;
     }
     .categoria-videos img {
        opacity: 0.5;
        height: 200px
    }
    
    .categoria-videos img:hover {
        opacity: 1.0;
        border: 3px solid green;
    }

    .categoria h2{
        color:blue;
        font-size: 30px;
    }